<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">
            <span>Do Not Thing</span>
            <img class="logo responsive-img circle" src="../assets/library/logo.jpg" alt="Logo">
        </a>
        <ul class="hide-on-med-and-down">
            <li><a routerlink="" class="waves-effect waves-light btn">Login<i class="material-icons right">lock</i></a></li>
            <li><a href="/" class="waves-effect waves-light btn">Product<i class="material-icons right">view_module</i></a></li>
            <li><a href="/" class="waves-effect waves-light btn">Add Product<i class="material-icons right">add</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <section class="section">
        <div class="row">
            <!-- <products></products> -->

        </div>
    </section>
</div>

<!-- <router-outlet></router-outlet> -->
<!--  routerLink=""-->
